Load the data :

Read the “housing.csv” file from the folder into the program.

Print first few rows of this data.

Extract input (X) and output (Y) data from the dataset.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('/content/1553768847_housing.xlsx')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [7]:
x = df.drop(columns=['median_house_value'])
y = df.median_house_value

Handle missing values :

Fill the missing values with the mean of the respective column.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [12]:
df.shape

(20640, 10)

In [13]:
x.total_bedrooms = np.where(np.isnan(x.total_bedrooms), x.total_bedrooms.mean(), x.total_bedrooms)

In [17]:
x.total_bedrooms.isnull().sum()

0

In [20]:
y.isnull().sum()

0

Encode categorical data :

Convert categorical column in the dataset to numerical data.

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['encoded_ocean_proximity'] = le.fit_transform(x['ocean_proximity'])

In [ ]:
x.drop(columns=['ocean_proximity'], inplace=True)

In [26]:
x.encoded_ocean_proximity.unique()

array([3, 0, 1, 4, 2])

Split the dataset : 

Split the data into 80% training dataset and 20% test dataset.

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

Standardize data :

Standardize training and test datasets.

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

Perform Linear Regression : 

Perform Linear Regression on training data.
Predict output for test dataset using the fitted model.
Print root mean squared error (RMSE) from Linear Regression.
            [ HINT: Import mean_squared_error from sklearn.metrics ]

In [30]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression

model = LinearRegression()

pipe = make_pipeline(scaler, model)

In [32]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [33]:
y_pred = pipe.predict(x_test)

In [38]:
from sklearn.metrics import mean_squared_error

# Calculate the RMSE of the predictions
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Print the RMSE
print("Root Mean Squared Error: {:.2f}".format(rmse))

Root Mean Squared Error: 69546.80

Perform Decision Tree Regression :

Perform Decision Tree Regression on training data.

Predict output for test dataset using the fitted model.

Print root mean squared error from Decision Tree Regression.

In [39]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error

model = DecisionTreeRegressor()

pipe = make_pipeline(scaler, model)

pipe.fit(x_train, y_train)

y_pred = pipe.predict(x_test)

# Calculate the RMSE of the predictions
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Print the RMSE
print("Root Mean Squared Error: {:.2f}".format(rmse))

Root Mean Squared Error: 70250.38

Perform Random Forest Regression :

Perform Random Forest Regression on training data.

Predict output for test dataset using the fitted model.

Print RMSE (root mean squared error) from Random Forest Regression.

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error

model = RandomForestRegressor()

pipe = make_pipeline(scaler, model)

pipe.fit(x_train, y_train)

y_pred = pipe.predict(x_test)

# Calculate the RMSE of the predictions
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Print the RMSE
print("Root Mean Squared Error: {:.2f}".format(rmse))

Root Mean Squared Error: 49258.64